@use "./vars.scss" as *;

.calculate {
    background-color: $dark;
    padding-block: 142px;

    .calculate-inner {
        display: flex;
        align-items: center;
        column-gap: 36px;

        .calculate-body {
            max-width: 627px;
            flex-grow: 1;

            .calculate-title {
                &:not(:last-child) {
                    margin-bottom: 16px;
                }
            }

            .calculate-description {
                max-width: 385px;

                &:not(:last-child) {
                    margin-bottom: 30px;
                }
            }

            .calculate-form {
                .calculate-form-body {
                    display: grid;
                    grid-template-columns: repeat(2, 1fr);
                    gap: 18px 30px;

                    .calculate-input {
                        max-width: 100%;
                        &.wide {
                            grid-column: -1 / 1;
                        }
                    }

                    &:not(:last-child) {
                        margin-bottom: 26px;
                    }
                }

                .calculate-button {
                    color: $white;
                    grid-column: -1 / 1;
                }
            }
        }

        .calculate-table-wrapper {
            position: relative;
            width: 100%;
            max-width: 610px;
            display: flex;
            justify-content: center;
            align-items: center;

            .calculate-table {
                position: relative;
                border-collapse: collapse;

                thead tr th {
                    padding-block: 20px;
                    text-align: left;
                    text-transform: uppercase;
                    color: $white;
                }

                tbody tr td {
                    padding-block: 14px;
                    border-top: 1px solid $light-grey;
                }

                tfoot {
                    color: $white;

                    tr td {
                        padding-top: 33px;
                        padding-bottom: 0;
                    }
                }

                thead tr th,
                tbody tr td {
                    padding-right: 30px;

                    &:not(:first-child) {
                        padding-left: 30px;
                    }

                    &:not(:last-child) {
                        border-right: 1px solid $light-grey;
                    }
                }

                tbody tr:last-child td:first-child {
                    position: relative;

                    &::after {
                        content: '';
                        position: absolute;
                        bottom: 0;
                        right: 0;
                        width: 70%;
                        height: 1px;
                        background-color: $light-grey;
                    }
                }
            }

            &::before {
                content: '';
                position: absolute;
                top: 50%;
                left: 50%;
                translate: -50% -50%;
                width: 100%;
                aspect-ratio: 1;
                background-color: black;
                border-radius: 50%;
            }
        }
    }
}

@media (max-width: 1024px) {
    .calculate {
        padding-block: 100px;

        .calculate-inner {
            column-gap: 20px;

            .calculate-body {
                .calculate-form {
                    .calculate-form-body {
                        grid-template-columns: 1fr;

                        .calculate-button {
                            width: 100%;
                        }
                    }
                }
            }

            .calculate-table-wrapper {
                .calculate-table:is(td, th) {
                    padding-block: 10px;
                }

                .calculate-table tfoot td{
                    padding-top: 10px;
                }
            }
        }
    }
}


@media (max-width: 767px) {
    .calculate {
        padding-block: 60px;

        .calculate-inner {
            row-gap: 30px;
            flex-direction: column;

            .calculate-table-wrapper::before {
                display: none;
            }
        }
    }
}