$black: #000000;
$dark: #131619;

$white: #ffffff;

$grey: #404040;
$light-grey: #c4c4c4;

$border-radius: 30px;
$border: 1px solid $white;

$input-height: 54px;

$container-width: 1300px;
$container-padding: 15px;

$animation-duration: 0.2s;

$base-font: "Heebo", sans-serif;
$header-height: 90px;